# ./3D-ICE-Emulator example_transient.stk

/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {

    /* "package" component */
    package: {

        /* Define the library associated with the "package" component. */
        library: {
            model = "3d-ice";
            thermal_analysis_type = "steady";
            ambient_temperature = 300.0;
            temperature = 300.0;
            chip_width = 8.5e-3; // 10mm
            chip_height = 12.67e-3; // 10mm
            grid_rows = 50;
            grid_columns = 50;
            grid_map_mode = "average";
            generate_thermal_grid = true;

            material: {
                silicon: {
                    thermal_conductivity = 1.5e-4;
                    volumetric_heat_capacity = 1.628e-12;
                };
                beol: {
                    thermal_conductivity = 2.25e-6;
                    volumetric_heat_capacity = 2.175e-12;
                };
            };

            conventional_heat_sink: {
                heat_transfer_coefficient = 0.15e-7;
            };

            microchannel: {
                type = "2rm";
                height = 100e-6;
                channel_length = 50e-6;
                wall_length = 50e-6;
                wall_material = "silicon";
                coolant_flow_rate = 42;
                coolant_heat_transfer_coefficient_top = 5.7132e-8;
                coolant_heat_transfer_coefficient_bottom = 4.7132e-8;
                coolant_volumetric_heat_capacity = 4.172e-12;
                coolant_incoming_temperature = 300.0;
            };

            die: {
                logic_ic: {
                    layer: {
                        top_layer: {
                            height = 10e-6;
                            material = "beol";
                            is_source_layer = false;
                        };
                        source_layer: {
                            height = 2e-6;
                            material = "silicon";
                            is_source_layer = true;
                        };
                        bottom_layer: {
                            height = 50e-6;
                            material = "silicon";
                            is_source_layer = false;
                        };
                    };
                };    
            };

            stack: {
                // IMPORTANT: Stacks must be listed sequentially from the top to bottom.
                logic_die: {
                    type = "die";
                    die = "logic_ic";
                };
            };

            floorplan = ["package.logic_die.serdes0",
                         "package.logic_die.serdes1",
                         "package.logic_die.serdes2",
                         "package.logic_die.serdes3",
                         "package.logic_die.interconnect0"];
        }; /* End of "package" library */

        /* "package" component includes the following components 
           as its sub-components (children). */
        component: {
        
            /* "package.logic_die" component */
            logic_die: {

                /* "package.logic_die" includes the following components
                   as its sub-components (children). */
                component: {

                    /* "package.logic_die.serdes0" component */
                    serdes0: {
                        library: {
                            model = "none"; /* This component is not associated with any libraries. */
                            /* Dimensional information of this component is required since this is
                               designated as a floorplan by "package". */
                            dimension: {
                                left = 0.0e-3; /* Left orientation */
                                bottom = 0.0e-3; /* Bottom orientation */
                                width = 4.25e-3; /* Width (x-dimension) of floorplan */
                                height = 2.125e-3; /* Height (y-dimension) of floorplan */
                                die_name = "logic_die"; /* Layer name */
                                die_index = 1; /* Layer index */
                            };
                        };
                    };

                    /* "package.logic_die.serdes1" component */
                    serdes1: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 4.25e-3;
                                bottom = 0.0e-3;
                                width = 4.25e-3;
                                height = 2.125e-3;
                                die_name = "logic_die";
                                die_index = 1;
                            };
                        };
                    };

                    /* "package.logic_die.serdes2" component */
                    serdes2: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 10.545e-3;
                                width = 4.25e-3;
                                height = 2.125e-3;
                                die_name = "logic_die";
                                die_index = 1;
                            };
                        };
                    };

                    /* "package.logic_die.serdes3" component */
                    serdes3: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 4.25e-3;
                                bottom = 10.545e-3;
                                width = 4.25e-3;
                                height = 2.125e-3;
                                die_name = "logic_die";
                                die_index = 1;
                            };
                        };
                    };
                    interconnect0: {
                        library: {
                            model = "none";
                            dimension: {
                                left = 0.0e-3;
                                bottom = 2.125e-3;
                                width = 8.5e-3;
                                height = 8.42e-3;
                                die_name = "logic_die";
                                die_index = 1;
                            };
                        };
                    };
                }; /* End of "package.logic_die" sub-components */
            }; /* End of "package.logic_die" */
        }; /* End of "package" sub-components */
    }; /* End of "package" */
}; /* End of pseudo component hierarchy */
