/* Assign pseudo component id range. This is optional. */
component_id: {
    start = 1;
    end = 9999;
};

/* Assign data queue size. Each data queue maintains only this number of entries.
   When the queue becomes full, the oldest entry is automatically dequeued. */
queue_size = 1;

/* Start pseudo component hierarchy (tree) */
component = {
    package: { // package
        library: {

            model = "3d-ice";
            thermal_analysis_type = "steady";
            ambient_temperature = 300.0;
            temperature = 300.0;
            chip_width = 8.5e-3;
            chip_height = 12.67e-3;
            grid_rows = 50;
            grid_columns = 50;
            grid_map_mode = "avg";
            generate_thermal_grid = true;

            material: {
                SILICON: {
                    thermal_conductivity = 1.5e-4;
                    volumetric_heat_capacity = 1.628e-12;
                };
            };

            conventional_heat_sink: {
                heat_transfer_coefficient = 0.15e-7;
            };

            microchannel: {
                type = "2rm";
                height = 100e-6;
                channel_length = 50e-6;
                wall_length = 50e-6;
                wall_material = "SILICON";
                coolant_flow_rate = 42;
                coolant_heat_transfer_coefficient_top = 5.7132e-8;
                coolant_heat_transfer_coefficient_bottom = 4.7132e-8;
                coolant_volumetric_heat_capacity = 4.172e-12;
                coolant_incoming_temperature = 300.0;
            };

            die: {
                LOGIC_IC: {
                    layer: {
                        // IMPORTANT: Layers must be listed sequentially from the top to bottom.
                        SOURCE_LAYER: {
                            height = 10e-6;
                            material = "SILICON";
                            is_source_layer = true;
                        };
                        BOTTOM_LAYER: {
                            height = 100e-6;
                            material = "SILICON";
                            is_source_layer = false;
                        };    
                    };
                };
            };

            stack: {
                // IMPORTANT: Stacks must be listed sequentially from the top to bottom.
                logic_die: {
                    type = "die";
                    die = "LOGIC_IC";
                };
            };

            floorplan = ["package.logic_die.serdes0",
                         "package.logic_die.serdes1",
                         "package.logic_die.serdes2",
                         "package.logic_die.serdes3",
                         "package.logic_die.interconnect"];
        }; /* End of "package" library */

        component: { // package component
            /* "package.logic_die" component */
            logic_die: {

                /* "package.logic_die" includes the following components
                   as its sub-components (children). */
                component: {
                    serdes: {
                        library: {
                                model = "none"; /* This component is not associated with any libraries. */
                                temperature = 340;
                                voltage = 1.1;
                                clock_frequency = 10e9;
                        }; /* "package.logic_die.serdes library */
                        component: {
                            link0: {
                                dimension: {
                                    left = 0.0e-3;
                                    bottom = 0.0e-3;
                                    width = 4.25e-3;
                                    height = 2.125e-3;
                                    layer_index = 0;
                                    layer_name = "logic_die";
                                };
                            }; /* "package.logic_die.serdes.link0" */

                            link1: {
                                dimension: {
                                    left = 4.25e-3;
                                    bottom = 0.0e-3;
                                    width = 4.25e-3;
                                    height = 2.125e-3;
                                    layer_index = 0;
                                    layer_name = "logic_die";
                                };
                            }; /* "package.logic_die.serdes.link1" */

                            link2: {
                                dimension: {
                                    left = 0.0e-3;
                                    bottom = 10.545e-3;
                                    width = 4.25e-3;
                                    height = 2.125e-3;
                                    layer_index = 0;
                                    layer_name = "logic_die";
                                };
                            }; /* "package.logic_die.serdes.link2" */

                            link3: {
                                dimension: {
                                    left = 4.25e-3;
                                    bottom = 10.545e-3;
                                    width = 4.25e-3;
                                    height = 2.125e-3;
                                    layer_index = 0;
                                    layer_name = "logic_die";
                                };
                            }; /* "package.logic_die.serdes.link3" */
                        }; /* "package.logic_die.serdes component */
                    }; /* "package.logic_die.serdes" */

                    interconnect: {
                        library: {
                            model = "none"; /* This component is not associated with any libraries. */
                            temperature = 340;
                            voltage = 0.8;
                            clock_frequency = 5.0e9;
                        };
                        dimension: {
                            left = 0.0e-3;
                            bottom = 2.125e-3;
                            width = 8.5e-3;
                            height = 8.42e-3;
                            layer_index = 0;
                            layer_name = "logic_die";
                        };
                    }; /* "package.logic_die.interconnect" */
                }; /* "package.logic_die" component */
            }; /* "package.logic_die" */
        }; /* "package" component */
    }; /* End of "package" */
};
